header{
    height: auto;
    background: white;
    max-height: 140px;
    opacity: 0.9;
    border-bottom: 1px solid black;
}
.header_main{
    height: auto;
    float: left;
    margin-top: 25px;
}
.header_main a{
    color: black;
}
/*reposive menu */
.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 15px 30px;
    text-decoration: white;
    font-size: 16px;
}
.topnav a:hover {
    color: gray;
    list-style: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
}
.topnav a.active {
    color: gray;
}
.topnav a.active:hover {
    color: gray;
}
.topnav .icon {
    display: none;
}
.topnav .icon i{
    font-size: 20px;
    color: gray;
}

@media screen and (max-width: 960px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}
/*chỗ này là của thanh tìm kiếm*/
.search{
    display:inline-block;
    color:white;
}
.search-bar{
    float: right;
    display:block;
    margin-right: 10px;
    height: 50px;
    margin-top: 35px;
}
.search-bar input {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline:none;
    transition: width 0.7s ease-in-out;
    float: right;
}
 nav li:hover{
    background-color:white;
}
 .search:hover{
    background-color:white;
    color:black;
}
.search:hover .search-bar{
    display:block;
}
.search-bar form input:focus{
    width:200%;
    background-color:white;
}

.acc{
    float: right;
    height: auto;
    margin-top:35px;
}
header .acc i {
    float: right;
    color: #5c5c5c;
    font-size: 20px;
    margin: 0 10px 0 0;

}
/*đây là code của phần footer*/

/*phần này là reposive của phần footer*/

@media screen and (max-width: 960px) {
    footer .footer_header{
        max-width: 45%;
    }
}
@media screen and (max-width: 768px) {
    footer .footer_header{
        max-width: 50%;
    }
}
@media screen and (max-width: 480px) {
    footer .footer_header{
        max-width: 100%;

    }
}
footer{
    width: 100%;
    height: auto;
    background: black;
    color: white;
}
/* phần này là  liên kết facebook*/

footer .box_footer i{
    font-size: 30px;
    float: left;
    margin-right: 30px;
    color: white;
    margin-top: 30px;
}

footer .box_main a{
    color: white;
    float: left;
    margin-right: 10px;
    font-size: 18px;
}
.box_dk{
    margin: 80px 0 70px 0;
    text-align: center;
}
/*thanh email*/
#box_email{
    background: black;
    border-top: 1px solid black;
    border-right: 1px solid black ;
    border-left:  1px solid black;
    border-bottom: 0.01px solid black;
    width: 100%;
    outline: 0;
    text-align: start;
    padding: 10px 45px 10px 0 ;
    max-width: 400px;
}
.send_emailgs{
    font-size: 25px;
    color: white;
}
#note_feedback{
    margin-top: 20px;
}
/*phần này lầ chỗ liên kết-footer */
.Footer__PaymentList{
    margin-top: 80px;
}
.HorizontalList__Item{
    float: left;
    list-style: none;
    margin-left: 10px;
}

/*phần này xuống dưới là của mình các bác không được coppy*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background:#fafafa
}
/*phần này là của article*/
.bestsale{
    text-align: center;
}
/*phần này là brand nổi tiếng*/
.brandgs{
    height: 100px;
    background: pink;
    opacity: 0.4;
    text-align: center;
}
.brandgs p{
    color: white;
    font-size: 30px;
}
/*chỗ này là slider chạy quảng sản phẩm*/
 #showContainer {
     /* Main wrapper for all images */
     width: 100%;
     padding: 0;
     margin: 0 auto;
     overflow: hidden;
     position: relative;
     background: whitesmoke;
     font-size: 18px;
 }
 /*nút next*/
.navButton {
    /* Make buttons look nice */
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #000000;
    opacity: 0.65;
    user-select: none;
}
#previous{
    position: absolute;
    right: 110px    ;
    top:400px;
}
#next{
    position: absolute;
    right: 50px;
    top: 400px;
}
.navButton:hover {
    opacity: 1;
}
.caption {
    float: right;
}
.imageContainer:not(:first-child) {
    /* Hide all images except the first */
    display: none;
}
/*chỗ này là phần tên sản phẩm thêm phông chữ và màu*/
.namepbestsell{
    height: 100px;
}
/*chỗ này là div chứa img sản phẩm*/
.boximgproducts{
    padding: 40px 0 40px 40px;
}
/*chỗ này là phần chưa toàn bộ thông tin sản phẩm*/
.boxproduct_home{
    padding-top: 100px  ;
}
/*thuộc tính của sản phẩm*/
.ttspgs{
    width: 100%;
    height: 310px;
}
.ttspgs li{
    font-size: 18px;
}
/*đánh giá sao*/
.dggs span{
    font-size: 18px;
    color: gray;
}
.dggs i{
    color: yellow;
    font-size: 25px;
    margin-left: 5px;
}
/*giá cả*/
.gia_proceducts{
    padding: 20px 0 20px 0;
}
.gia_proceducts span{
    margin-left: 20px;
    color: red;
}
/*số lượng và nút thêm vào giỏ hàng*/
.sl_procedures{
    padding: 20px 0 20px 0;
}
.sl_procedures button{

    border: 2px solid black;
    margin-left: 10px;
    width: 30%;
}
.sl_procedures button:hover{
    background: dimgray;
    color: white;
    box-shadow:5px 5px #c7c7c7;
}
/*nút xem thêm*/
.btn_view_pro{
    width: 30%;
    border: 2px solid black;
}
.btn_view_pro:hover{
    background: dimgray;
    color: white;
    box-shadow:5px 5px #c7c7c7;
}